@charset "UTF-8";
/*------------VARIABLES DEL PROGRAMA----------------*/
/*Fuente para el Título o H1*/
@font-face {
  font-family: "designer";
  src: url(/srcs/fonts/designer/Designer.otf);
}
@font-face {
  font-family: "tommy";
  src: url(/srcs/fonts/made_tommy_soft/MADE\ Tommy\ Soft\ Thin\ PERSONAL\ USE.otf);
}
.video {
  position: relative;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background-color: #DAE8FD;
  margin: 0rem;
  display: flex;
  flex-direction: column;
}

.header {
  background-image: linear-gradient(180deg, rgb(174, 0, 255) 20%, rgb(9, 122, 252) 100%);
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: center;
}

.header-img {
  width: 10vw;
  height: 10vh;
  margin-left: 0.3rem;
  background-image: url(../../srcs/images/iesTetuan.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 4rem;
  min-height: 4rem;
  max-width: 8rem;
  max-height: 8rem;
}

.header-title {
  font-family: "designer";
  color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: center;
}

#btnCerrarMenu {
  width: 2rem;
  height: 2rem;
  background-image: url(../../srcs/images/cerrar-Catalin.png);
  background-size: contain;
  margin-top: 1rem;
  margin-left: 0.4rem;
  border-radius: 0.4rem;
  opacity: 1;
  visibility: visible;
}

#btnAbrirMenu {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  display: flex;
  justify-content: center;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: solid black 1px;
  position: fixed;
  top: 7rem;
  left: 1rem;
}
#btnAbrirMenu img {
  width: 2rem;
  height: 2.5rem;
}

#btnAbrirMenu.invisible {
  opacity: 0;
  display: none;
}

.nav {
  width: -moz-fit-content;
  width: fit-content;
  height: 100dvh;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  position: fixed;
  background-color: #393939;
  transition: transform 0.5s ease; /* Define la duración y el tipo de transición */
  transform: translateX(-100%);
}

.visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.nav-list {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  right: 1.7rem;
}
.nav-list li:first-child {
  border-top: solid white 2px;
}
.nav-list li {
  width: 100%;
  border-bottom: solid white 2px;
  display: flex;
  align-items: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  gap: 2rem;
  justify-content: space-between;
}
.nav-list li img {
  width: 3rem;
  height: 3rem;
}
.nav-list li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.section {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.section div {
  width: 80vw;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}
.section div img {
  width: 100%;
  height: 10vh;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.section div hr {
  width: 100%;
  height: 0.4rem;
  background-color: black;
  margin: 0;
}
.section div .title-article {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.section div .date-article, .section div .creator-article {
  padding-left: 0.5rem;
}
.section div .creator-article {
  color: #979696;
}
.section div .creator-article b {
  color: black;
}/*# sourceMappingURL=plantilla-general.css.map */